

body {
    background-color:  black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   

}

h1 {
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 50px;  
    
}

.resultado {
    color: aliceblue;
    font-size: x-large;
    padding: 20px;
    border: solid;
    border-color: aliceblue;
    border-radius: 10px;


}